@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      #ffeef8,
      #fff5f9,
      #ffffff
    );
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes quiver {
  0%, 100% { transform: translate(-50%, -50%) translate(0, 0); }
  10% { transform: translate(-50%, -50%) translate(-3px, -4px); }
  20% { transform: translate(-50%, -50%) translate(4px, 3px); }
  30% { transform: translate(-50%, -50%) translate(-4px, 3px); }
  40% { transform: translate(-50%, -50%) translate(3px, -3px); }
  50% { transform: translate(-50%, -50%) translate(-3px, 4px); }
  60% { transform: translate(-50%, -50%) translate(4px, -3px); }
  70% { transform: translate(-50%, -50%) translate(-4px, -4px); }
  80% { transform: translate(-50%, -50%) translate(3px, 4px); }
  90% { transform: translate(-50%, -50%) translate(-3px, -3px); }
}

