@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      #ffeef8,
      #fff5f9,
      #ffffff
    );
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  12.5% { transform: translate(-50%, -50%) scale(1.2); }
  25% { transform: translate(-50%, -50%) scale(1.4); }
  37.5% { transform: translate(-50%, -50%) scale(1.7); }
  50% { transform: translate(-50%, -50%) scale(2.1); }
  62.5% { transform: translate(-50%, -50%) scale(2.6); }
  75% { transform: translate(-50%, -50%) scale(3.2); }
  87.5% { transform: translate(-50%, -50%) scale(4.0); }
  100% { transform: translate(-50%, -50%) scale(5.0); }
}

